// Navigation code here

.navigation {
  .center();
  background-color: @porcelain;
  padding: 2rem 0;
  h1 {
    padding-bottom: 1.5rem;
  }
  nav {
    font-size: 1.8rem;

    a {
      margin: 0 1rem;
      color: @shuttle-gray;
      text-decoration: none;
      &:hover {
        color: @btn-bg-color;
      }
    }
  }

  .tesla {
    position: absolute;
    z-index: 10px;
    left: -350px;
    width: 400px;
    height: 100px;
    .animation(tesla, 20s);
    @media @mobile {
      display: none;
    }
    @media @mobile {
      display: none;
    }
  }

  @keyframes tesla {
    from {
      position: absolute;
      left: -300px;
    }
    to {
      position: absolute;
      left: 1800px;
      display: none;
    }
  }
}
